---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';
import Layout from '@/layouts/Layout.astro';
import { fetchUserInfo } from '@/services/user_service';

const user = await fetchUserInfo(Astro.locals);
---

<Layout title="マイページ">
  <div class="flex justify-center m-10">
    <Card className="w-[450px]">
      <CardHeader>
        <CardDescription>登録情報</CardDescription>
        <CardTitle>{user.name}</CardTitle>
      </CardHeader>
      <CardContent>
        <div class="mb-4">
          <p class="text-base font-bold">メールアドレス</p>
          <p class="text-lg text-muted-foreground">{user.email}</p>
        </div>
        <div class="mb-4">
          <p class="text-base font-bold">電話番号</p>
          <p class="text-lg text-muted-foreground">{user.telephone}</p>
        </div>
        <div class="mb-4">
          <p class="text-base font-bold">郵便番号</p>
          <p class="text-lg text-muted-foreground">{user.zipcode}</p>
        </div>
        <div class="mb-4">
          <p class="text-base font-bold">都道府県</p>
          <p class="text-lg text-muted-foreground">{user.prefecture}</p>
        </div>
        <div class="mb-4">
          <p class="text-base font-bold">市区町村</p>
          <p class="text-lg text-muted-foreground">{user.municipalities}</p>
        </div>
        <div class="mb-4">
          <p class="text-base font-bold">住所</p>
          <p class="text-lg text-muted-foreground">{user.address}</p>
        </div>
      </CardContent>
      <CardFooter>
        <div class="mb-4">
          <p class="text-base font-bold">注文履歴</p>
          <p class="text-lg text-muted-foreground">
            {
              user.orderHistory.length > 0 ? (
                <ul class="list-disc list-inside text-gray-900">
                  {user.orderHistory.map((order, index) => (
                    <li>{order}</li>
                  ))}
                </ul>
              ) : (
                <p class="text-gray-900">注文履歴はありません</p>
              )
            }
          </p>
        </div>
      </CardFooter>
    </Card>
  </div>
</Layout>
