---
import Layout from '@/layouts/Layout.astro';
import { createUser } from '@/services/user_service';
import {
  CreateUserFormSchema,
  type CreateUserForm,
  type CreateUserFormError,
} from '@/types/user_types';
import { z } from 'zod';

let error: CreateUserFormError | undefined;
let form: Partial<CreateUserForm> | undefined;

if (Astro.request.method === 'POST') {
  const body = await Astro.request.formData().then((data) => {
    const obj: Record<string, string> = {};
    data.forEach((value, key) => {
      obj[key] = value.toString();
    });
    return obj;
  });

  const parsed = await CreateUserFormSchema.safeParse(body);

  if (parsed.data != null) {
    const result = await createUser(parsed.data);

    if (result.success) {
      return Astro.redirect('/login');
    }
    const zodError = new z.ZodError([]);

    result.errors.forEach((e: any) => {
      const field = e.field;
      const message = e.defaultMessage;
      zodError.addIssue({
        code: z.ZodIssueCode.custom,
        path: [field],
        message,
      });
    });
    error = zodError.format();
  }
  form = body;
  error ??= parsed.error?.format();
}
---

<Layout title="新規会員登録">
  <form method="post" id="registerUser">
    <h1>新規会員登録</h1>

    <label for="lastName">姓</label>
    <label>{error?.firstName?._errors}</label>
    <input type="text" name="lastName" id="lastName" value={form?.lastName} />

    <label for="firstName">名</label>
    <label>{error?.lastName?._errors}</label>
    <input
      type="text"
      name="firstName"
      id="firstName"
      value={form?.firstName}
    />
    <br />

    <label for="email">メールアドレス</label>
    <label>{error?.email?._errors}</label>
    <input type="email" name="email" id="email" value={form?.email} />
    <br />

    <label for="zipcode">郵便番号</label>
    <label>{error?.zipcode?._errors}</label>
    <input type="text" name="zipcode" id="zipcode" value={form?.zipcode} />
    <br />

    <label for="prefecture">都道府県</label>
    <label>{error?.prefecture?._errors}</label>
    <input
      type="text"
      name="prefecture"
      id="prefecture"
      value={form?.prefecture}
    /><br />

    <label for="municipalities">市区町村</label>
    <label>{error?.municipalities?._errors}</label>
    <input
      type="text"
      name="municipalities"
      id="municipalities"
      value={form?.municipalities}
    /><br />

    <label for="address">住所</label>
    <label>{error?.address?._errors}</label>
    <input type="text" name="address" id="address" value={form?.address} /><br
    />

    <label for="telephone">電話番号</label>
    <label>{error?.telephone?._errors}</label>
    <input
      type="tel"
      name="telephone"
      id="telephone"
      value={form?.telephone}
    /><br />

    <label for="password">パスワード</label>
    <label>{error?.password?._errors}</label>
    <input
      type="password"
      name="password"
      id="password"
      value={form?.password}
    /><br />

    <label for="confirmPassword">確認用パスワード</label>
    <label>{error?.confirmPassword?._errors}</label>
    <input
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      value={form?.confirmPassword}
    />
    <br />

    <button type="submit">登録</button>
  </form>
</Layout>
