---
import Layout from '@/layouts/Layout.astro';
import { createUser } from '@/services/user_service';
import {
  CreateUserFormSchema,
  type CreateUserForm,
  type CreateUserFormError,
} from '@/types/user_types';
import { z } from 'zod';

let error: CreateUserFormError | undefined;
let form: Partial<CreateUserForm> | undefined;

if (Astro.request.method === 'POST') {
  const body = await Astro.request.formData().then((data) => {
    const obj: Record<string, string> = {};
    data.forEach((value, key) => {
      obj[key] = value.toString();
    });
    return obj;
  });

  const parsed = await CreateUserFormSchema.safeParse(body);

  if (parsed.data != null) {
    const result = await createUser(parsed.data);

    if (result.success) {
      return Astro.redirect('auth/login');
    }
    const zodError = new z.ZodError([]);

    result.errors.forEach((e: any) => {
      const field = e.field;
      const message = e.defaultMessage;
      zodError.addIssue({
        code: z.ZodIssueCode.custom,
        path: [field],
        message,
      });
    });
    error = zodError.format();
  }
  form = body;
  error ??= parsed.error?.format();
}
---

<Layout title="新規会員登録">
  <div class="m-4">
    <form method="post" class="max-w-md mx-auto">
      <p class="text-2xl mb-4 text-center">新規会員登録</p>
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="email"
          name="email"
          id="email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          value={form?.email}
        />
        <label
          for="email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >メールアドレス</label
        >
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          {error?.email?._errors}
        </p>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="password"
          name="password"
          id="password"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          value={form?.password}
        />
        <label
          for="password"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >パスワード</label
        >
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          {error?.password?._errors}
        </p>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          value={form?.confirmPassword}
        />
        <label
          for="confirmPassword"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >確認用パスワード</label
        ><p class="mt-2 text-sm text-red-600 dark:text-red-500">
          {error?.confirmPassword?._errors}
        </p>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="text"
            name="lastName"
            id="lastName"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            value={form?.lastName}
          />
          <label
            for="lastName"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >姓</label
          ><p class="mt-2 text-sm text-red-600 dark:text-red-500">
            {error?.lastName?._errors}
          </p>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="text"
            name="firstName"
            id="firstName"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            value={form?.firstName}
          />
          <label
            for="firstName"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >名</label
          ><p class="mt-2 text-sm text-red-600 dark:text-red-500">
            {error?.firstName?._errors}
          </p>
        </div>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="tel"
          name="telephone"
          id="telephone"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          value={form?.telephone}
        />
        <label
          for="telephone"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >電話番号</label
        ><p class="mt-2 text-sm text-red-600 dark:text-red-500">
          {error?.telephone?._errors}
        </p>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="text"
            name="zipcode"
            id="zipcode"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            value={form?.zipcode}
          />
          <label
            for="zipcode"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >郵便番号</label
          ><p class="mt-2 text-sm text-red-600 dark:text-red-500">
            {error?.zipcode?._errors}
          </p>
        </div>
        <button id="zipcode-complete" type="button"> 住所検索 </button>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="text"
            name="prefecture"
            id="prefecture"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            value={form?.prefecture}
          />
          <label
            for="prefecture"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >都道府県</label
          ><p class="mt-2 text-sm text-red-600 dark:text-red-500">
            {error?.prefecture?._errors}
          </p>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="text"
            name="municipalities"
            id="municipalities"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            value={form?.municipalities}
          />
          <label
            for="municipalities"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >市区町村</label
          ><p class="mt-2 text-sm text-red-600 dark:text-red-500">
            {error?.municipalities?._errors}
          </p>
        </div>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="text"
          name="address"
          id="address"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          value={form?.address}
        />
        <label
          for="address"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >住所</label
        ><p class="mt-2 text-sm text-red-600 dark:text-red-500">
          {error?.address?._errors}
        </p>
      </div>
      <div class="flex justify-center">
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-cente dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >登録</button
        >
      </div>
    </form>
  </div>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const zipcode = document.querySelector('#zipcode') as HTMLInputElement;
    const prefecture = document.querySelector(
      '#prefecture'
    ) as HTMLInputElement;
    const municipalities = document.querySelector(
      '#municipalities'
    ) as HTMLInputElement;
    const address = document.querySelector('#address') as HTMLInputElement;
    const button = document.querySelector(
      '#zipcode-complete'
    ) as HTMLInputElement;

    button?.addEventListener('click', async () => {
      const response = await fetch(
        `https://zipcoda.net/api?zipcode=${zipcode.value}`
      );
      const data = await response.json();
      const components = data.items[0].components;
      if (prefecture) {
        prefecture.value = components[0];
      }
      if (municipalities) {
        municipalities.value = components[1];
      }
      if (address) {
        address.value = components[2];
      }
    });
  });
</script>
